<!--
  1. Add the lang="en" attribute to the html tag
  2. Make the title of the page "Problem 002" (without the quotation marks)
-->
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Problem 002</title>
  <a href = "/Problem 002">Problem 002 </a>
</head>
<body>

</body>
</html>
