<!--
  Add the fundamental five to this file.

  Then, make the title of the document "Problem 032"
  (without the quotation marks)

  Put a lang="en" attribute on the html tag

  Then, in the body, add the top-level header, main,
  and footer tags.

  In the header tag, add an h1 tag as a child with
  the content "My page" (wihtout the quotation marks).
  Please make sure that the sentence "My page" is all
  on one line.

  In the main tag, add a paragraph tag as a child
  with the content "Under construction" (without the
  quotation marks). Please make sure that the
  sentence "Under construction" is all on one line.

  In the footer tag, add a div tag as a child with
  the content "Hand crafted by an HTML artisan"
  (without the quotation marks). Please make sure
  that the sentence "Hand crafted by an HTML artisan"
  is all on one line.
-->
<!--
  The fundamental five with some added goodies
-->

    <!-- Inside the body tag... -->
    <!-- A header tag -->

      <!-- With a child h1 tag with content "My page" -->

    <!-- A main tag -->

      <!-- With a child p tag with the content "Under construction" -->

    <!-- A footer tag -->

      <!-- With a child div tag with the content "Hand crafted by an HTML artisan" -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem 032</title>
</head>
  <body>
    <header>
      <h1>My page</h1>
    </header>
    <main>
      <p>Under construction</p>
    </main>
    <footer>
      <div>Hand crafted by an HTML artisan</div>
    </footer>
  </body>
</html>
